<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section-content section-content-p30">

        <h4>Category: {{currentCategoryName}}</h4>
        <hr>
        
        <div class="container-fluid">
            <div class="row">
                
                <!-- Loop over the ads -->
                <div *ngFor="let ad of ads" class="col-md-3">
                    <div class="product-box">
                        
                        <a routerLink="/ads/{{ ad.id }}">
                            <img src="{{ ad.imageUrl }}" class="img-responsive">
                        </a>

                        <a routerLink="/ads/{{ ad.id }}">
                            <h5>{{ad.name}}</h5>
                        </a>
                        
                        <!--<h2>{{ad.description}}</h2> -->
                        <div class="price">{{ad.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>

                <!-- If no ads then display a message -->
                <div *ngIf="ads?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Ads founds.
                </div>
            </div>

            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9" style="padding-left: 10%;">
                                    
                                    <ngb-pagination [(page)]="pageNumber"
                                                    [pageSize]="pageSize"
                                                    [collectionSize]="totalElements"
                                                    [maxSize] = "3"
                                                    [boundaryLinks]=true
                                                    (pageChange)="listAds()">

                                    </ngb-pagination>
                                </div>

                                <div class="col-md-3 mt-2" style="text-align: left;">
                                    <span class="mr-2">Page Size</span>
                                    
                                        <select (change)="updatePageSize($event.target.value)">
                                            <option>2</option>
                                            <option selected="type">5</option>
                                            <option>10</option>
                                            <option>20</option>
                                            <option>50</option>
                                        </select>
                                    
                                </div>

                            </div>
                        </div>

                    
                </div>
            </div>
            <!-- end footer -->

        </div>
    </div>
</div>